# IDEs
.idea/
.vscode/

# MacOS
.DS_Store

# Запуски pipeline-а
outputs/

# Сторонние модели (весят слишком много для github)
pretrained/

# Виртуальные окружение под разные версии python
/venv311
/venv
/tf_gpu_env
/venv_gpu